.flex-center {
	display: flex;
	justify-content: center;
}

.btn-space {
	font-size: 33px;
	color: white;
	border-radius: 8px;
	background-color: black;
	outline: none;
	border-color: black;
}
.btn-space:active {
	background-color: yellow;
	color: black;
}

.text-start {
	text-align: start !important;
}

.smol {
	font-size: x-large;
}

.bitbig {
	font-size: 32px;
}
